<!DOCTYPE html>

<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

  <select id="type" name="type">
    <option value="killed">killed</option>
    <option value="injured">injured</option>
    <option value="incidents">incidents</option>
  </select>


  <select id="years" name="years">
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
  </select>

  <select id="months" name="months">
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>


  <button id="butt">submit</button>
  <br>

  <button id="play">play</button>

  <div class="container">
      <button type="button" id="fbw" class="btn">
        <i class="fa fa-fast-backward"></i>
      </button>

      <button type="button" id="bw" class="btn">
        <i class="fa fa-backward"></i>
      </button>

      <button type="button" id="play" class="btn">
        <i class="fa fa-play"></i>
      </button>

      <button type="button" id="fw" class="btn">
        <i class="fa fa-forward"></i>
      </button>

      <button type="button" id="ffw" class="btn">
        <i class="fa fa-fast-forward"></i>
      </button>
  </div>


  <svg width="960" height="700"></svg>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<script src="static/svg.js"></script>
